<%# @page.custom_fields %>

<%= simple_form_for([:admin, @page]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :slug, placeholder: 'Only use letters numbers and dashes (-).  No spaces' if f.object.persisted? %>
    <%= f.rich_text_area :content, data: { controller: "bebop" } %>
    <%# f.rich_text_area :content_two, data: { controller: "bebop" } %>
    <hr>
    <h2>Page Type</h2>
    <%= f.input :template, as: :select, collection: Page.templates %>

    <%= f.simple_fields_for :custom_content, OpenStruct.new(@page.custom_content) do |field| %>
      <% @page.custom_fields.each do |custom_field| %>
        <%= render "admin/shared/custom_field/#{custom_field[1][:type]}", field: field, custom_field: custom_field %>                
      <% end %>
    <% end %>



    <hr>
    <h2>Meta</h2>
    <%= f.input :description %>
    <%= f.input :keywords %>
  </div>

  <div class="form-actions text-right">
    <%= link_to "Back", admin_pages_path, class: 'btn button-secondary' %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
