<%= simple_form_for([:admin, @page]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.rich_text_area :content, data: { controller: "tricks" } %>
    <hr>
    <%= f.input :template, as: :select, collection: Page.templates %>
    <h2>Meta</h2>
    <%= f.input :description %>
    <%= f.input :keywords %>
  </div>

  <div class="form-actions text-right">
    <%= link_to "Back", admin_pages_path, class: 'btn button-secondary' %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
