<div class="row">
    <div class="col-8">
      <h6 class="header-pretitle">index</h6>
      <h1 class="header-title">Pages</h1>
    </div>
    <div class="col-4 text-right">
      <a class="btn btn-primary" href="/admin/pages/new">  Add Page</a>
    </div>
  </div>
<div class="card">
  <div class="card-body">
    <div id="articles">
      <table class="table">
        <thead>
          <tr>
            <th width='40px'></th>


            <th>Title</th>
            <th>Link</th>
            <th>Template</th>
            <th>Created</th>

            <th class="actions"></th>
          </tr>
        </thead>
      <tbody data-controller="drag" data-drag-url="/admin/pages/:id/move">
        <% @pages.each do |page| %>
            <tr data-id="<%= page.id %>">
              <td class='handle'><i class="bi bi-grip-vertical"></i></td>
              <td><b><%= link_to page.title, edit_admin_page_path(page) %></b></td>
              <td><%= link_to "/#{page.slug}", page, target: "_blank" %></td>
              <td><%= page.template %></td>
              <td class='secondary'><%= page.created_at.to_s(:short_civillian) %></td>
              <td class="actions">
                <%= link_to "<i class='bi-pencil'></i>".html_safe, edit_admin_page_path(page) %>
                        <%= link_to "<i class='bi-trash'></i>".html_safe, admin_page_path(page), data: {
                                    turbo_method: :delete,
                                    turbo_confirm: "Are you sure?"
                                  } %>
              </td>
            </tr>
        <% end %>
      </tbody>

      </table>
    </div>


  </div>
</div>
