<div class="container">
  <div class="row row-cols-6" data-controller="pick">
    <% @medias.order(created_at: :desc ).each do |media| %>
      <div class="col">
        <div class="media-picker-item" data-pick-id-param="<%= media.id %>"   data-action="click->pick#choosemedia">
          <%= render "/admin/medias/media_preview", x: 100, y: 100, media: media %><br>
          <%= media.name %> <br>(<%= truncate(media.file.filename.to_s, length: 10) %> <%= number_to_human_size media.file.byte_size %>)
        </div>
      </div>
    <% end %>
  </div>
</div>
