<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "admin", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "admin", "data-turbo-track": "reload", defer: true %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body class='admin container-fluid bg-light'>
    <div class="row flex-nowrap">
      <%= render "admin/shared/sidebar" %>
      <div class="main col pt-5">

        <%= render "admin/shared/notices" %>

        <%= yield %>
      </div>
  </div>

  <%# render "admin/shared/mediapicker" %>

  </body>
</html>
